---
title: About
description: We've built an amazing team of young scientists.
image:  https://lh3.googleusercontent.com/_CtPH13mwXYtQ9E-VWbEAFkW7kSs_dZ_7qm7ZziC0HTzHprS3hHMqUpM4IqaJXBXRRnKNgW151vV76nsg6Y-ZVlgJY762rjL2UcG0b97SO3HXJKSoSY-XEn8lGSHDFUPmHdTGuEE9_V69pHcHWY728j1j2ZwAgSSy-2Y9vfd5lUGILV7C18CBrlaneHVDZ2F2p_4zyW2V8-Y5WyocnxnR68uxxU0ynkEqwvS0gAOmhb_WviqtQEdFw3Tdlh-OLpuxZPZlVcRMHpBBTvXjwyZ3fkh0Cn0pAfOPoMJgscUvKAwxpj8mdE8ZptRMASbl5-EOAuCj35ZykX7JPOyq5hhQqhGj61eqUM6-U_ew3d5dIWwNhBn9Yq6RjLjWthGnkBNe5G_zrt-9NVGs8Nzf0mBlZori0zSUkwdcyOn2ySyHwphGtynXNyhUC3k1krco41QB2341Us6KPRn0JkvVwdQCsurvwrpTTevWZgKdOuvUzVv6B19RaVc5Imbh3A_zaADuCsy1Gv5OJjtB_eY1nMYPHyXKaMoMzcksRBFI69ZKDW_HjNr3P9fmRbnVh8QWgrFpuFa1aS_QrFQd69Y90unzBmpT_Pj6T0H8UENolSs-tsHBbcmOd5qruFrVZoISqorQr6d8gKQMYMlG6IAMMseo3y-jBuQECkd=w1278-h720-no
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Our Team</h1>
			<p class="subtext editable"><b>We have an extremely talented team, whose sole goal is to figure out the best science.</b></p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">{{ person.name }}</div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
