---
title: Home
description: We are investigating the genetic secrets of salmonberries.
image: https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Rubus_spectabilis_%27Olympic_Double%27_Leaves.JPG/800px-Rubus_spectabilis_%27Olympic_Double%27_Leaves.JPG
bottom_image: https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Rubus_spectabilis_%27Olympic_Double%27_Leaves.JPG/800px-Rubus_spectabilis_%27Olympic_Double%27_Leaves.JPG
#bottom_image: https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Rubus_spectabilis_2566.JPG/800px-Rubus_spectabilis_2566.JPG
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Salmonberry Genomics</h1>
			<p class="subtext editable"><b>At Coding for Life Science, we are curious young scientists uncovering the genetic secrets of Salmonberry.</b></p>
			<div class="cta button alt"><a href="about/">Our Team</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">How did this begin?</h2>
				<p class="editable">We, a group of high school students from the Seattle area, have been learning genomic data analysis techniques for the last couple of summers and are now ready to delve into the experience of an original research project.
</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Bowl_of_salmonberries.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Why salmonberry?</h2>
				<p class="editable">In the beautiful Pacific Northwest, we have a rich ethnobotany and many native plants with fascinating medical uses. <a href="http://www.goodfoodworld.com/2012/12/salmonberry-food-medicine-culture/">Salmonberry is one such plant</a>. As a member of the Rubus genus, it is related to blackberries and raspberries, ancient plants originally brought to North America across the Bering Land Bridge. </p>
				<p class="editable">We chose salmonberry not just because we love our local fruit, but also for the scientific questions it allows us to ask. Recently there is an increasing interest in berries, because they are rich in phytonutrients known for their health benefits. Despite such interesting properties, no genetic research has been done on salmonberry unlike raspberry or blackberry. Our research will help connect the evolutionary dots among the berries.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Rubus_spectabilis_1564.JPG/320px-Rubus_spectabilis_1564.JPG" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Why RNA sequencing?</h2>
				<p class="editable">RNA sequencing (RNAseq) lets us look at the transcriptome, which not only allows us to find the salmonberry genes but also shows the genes that are being actively expressed. The transcriptome provides insights into what proteins the cell is making and can be used to compare gene expression between different parts of the same plant and between similar plants. Knowing what proteins are being coded for, and what other gene activity is occurring, can give information about medicinal and nutritional properties of the plant. 
</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Salmonberry_Blossom.jpg/800px-Salmonberry_Blossom.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Why are we raising money?</h2>
				<p class="subtext editable">
<b>While we look forward to doing all data analysis, we need to pay a sequencing lab to get the RNA sequencing done. We are raising funds to cover the cost of sequencing, as well as the RNA extraction and any additional cost of collecting the actual plant samples.</b></p>
				<p class="subtext editable"><b>We are organized as a Washington state nonprofit, and all money goes towards the project. You can support us either directly through our bank account or at the <A href="https://www.indiegogo.com/projects/salmonberry-genomics-by-high-school-students">Indiegogo project.</b>
                                <div class="cta button alt"><a href="https://www.indiegogo.com/projects/salmonberry-genomics-by-high-school-students">Support us</a></div>
			</div>
		</div>
	</section>
</div>
