---
title: Home
description: We are investigating the genetic secrets of salmonberries.
image: https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Rubus_spectabilis_%27Olympic_Double%27_Leaves.JPG/800px-Rubus_spectabilis_%27Olympic_Double%27_Leaves.JPG
bottom_image: https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Rubus_spectabilis_2566.JPG/800px-Rubus_spectabilis_2566.JPG
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Salmonberry Genomics</h1>
			<p class="subtext editable"><b>We are a group of curious young scientists investigating the genetic secrets of salmonberries.</b></p>
			<div class="cta button alt"><a href="#">Help us</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Salmonberries are delicious</h2>
				<p class="editable">Pick them from the bushes around the Seattle area in May and June.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Bowl_of_salmonberries.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Salmonberries are healthy</h2>
				<p class="editable">If you eat them, you will live until age 150 and grow black hairs like bears.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Rubus_spectabilis_1564.JPG/320px-Rubus_spectabilis_1564.JPG" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Salmonberries are local</h2>
				<p class="editable">Californians cannot ship old fruits from central valley.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Salmonberry_Blossom.jpg/800px-Salmonberry_Blossom.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Fund our research to learn more</h2>
				<p class="subtext editable">We are the best people to figure it out all.</p>
				<div class="cta button alt"><a href="#">Join us</a></div>
			</div>
		</div>
	</section>
</div>
