---
title: Home
description: We are investigating the genetic secrets of salmonberries.
image: https://lh3.googleusercontent.com/fj_R6GYGF_4WtTVM6An7WSU-pgS_TRhAYgieDfdXHrhfDnNo3HdOWMeR36SX-VbrI57EqY_tEp1xnuIURvTCZhISj06LnIHVq0MiETi5rdgPXXj1_eFue9rJhv6j8eP-gQV32Xq0rXghX7j2VZPAbjZfCI6Zh2EcjeweIPErYpAq9s9a0GScmRo-Icb8Hcp7-ieC7SSnPZjwiA3u0WTPQKJN18N6nP0irGcCOfZKE5zIFvRA-3ZeDKvJ49yq-ZsDHqsT2XstpupNIljFwEF8tSTXah0o9hO7755U2oci_VchwHy3daMwmr7TsS9ra-OIpbrLfq2IHTRBO1U0mCP6CcDlntrdl23Cm7PbT2awXTe1yoeLaaN0-2qBU_kbJBJzMLDnMPiF4yCAA9eQQq8MlZbh1Mm9yEuQZ_tUjG_5pNY2ZtBNADNNVLb3HQaj3mANyhLRUChXX-jtE2pYV_JEphbFfvtejv-iKc7L3KzM5ibUgdID6Idf9Q47V_oIin9FQCCgQCDQ6CXLfVfmoDWNJ9qiSTVac7zAwlZuSY0EppwnYKRd93ek6Gv_sa3K1A7ZP-t8Xmm12CXHgfTlTn-RGUjT36SmVX7Dinfu1bPo9mhIfQJmoK3ACqkP8xrrkGT-s6TQO4JxeGgd1KamH1GqI43p4F0EwQ7P=w1278-h720-no
bottom_image: https://lh3.googleusercontent.com/fj_R6GYGF_4WtTVM6An7WSU-pgS_TRhAYgieDfdXHrhfDnNo3HdOWMeR36SX-VbrI57EqY_tEp1xnuIURvTCZhISj06LnIHVq0MiETi5rdgPXXj1_eFue9rJhv6j8eP-gQV32Xq0rXghX7j2VZPAbjZfCI6Zh2EcjeweIPErYpAq9s9a0GScmRo-Icb8Hcp7-ieC7SSnPZjwiA3u0WTPQKJN18N6nP0irGcCOfZKE5zIFvRA-3ZeDKvJ49yq-ZsDHqsT2XstpupNIljFwEF8tSTXah0o9hO7755U2oci_VchwHy3daMwmr7TsS9ra-OIpbrLfq2IHTRBO1U0mCP6CcDlntrdl23Cm7PbT2awXTe1yoeLaaN0-2qBU_kbJBJzMLDnMPiF4yCAA9eQQq8MlZbh1Mm9yEuQZ_tUjG_5pNY2ZtBNADNNVLb3HQaj3mANyhLRUChXX-jtE2pYV_JEphbFfvtejv-iKc7L3KzM5ibUgdID6Idf9Q47V_oIin9FQCCgQCDQ6CXLfVfmoDWNJ9qiSTVac7zAwlZuSY0EppwnYKRd93ek6Gv_sa3K1A7ZP-t8Xmm12CXHgfTlTn-RGUjT36SmVX7Dinfu1bPo9mhIfQJmoK3ACqkP8xrrkGT-s6TQO4JxeGgd1KamH1GqI43p4F0EwQ7P=w1278-h720-no
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Salmonberry Genomics</h1>
			<p class="subtext editable"><b>At Coding for Life Science, we are curious young scientists uncovering the genetic secrets of Salmonberry.</b></p>
			<div class="cta button alt"><a href="about/">Our Team</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">How did this begin?</h2>
				<p class="editable">We, a group of high school students from the Seattle area, have been learning genomic data analysis techniques for the last couple of summers and are now ready to delve into the experience of an original research project.
</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Bowl_of_salmonberries.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Why salmonberry?</h2>
				<p class="editable">In the beautiful Pacific Northwest, we have a rich ethnobotany and many native plants with fascinating medical uses. <a href="http://www.goodfoodworld.com/2012/12/salmonberry-food-medicine-culture/">Salmonberry is one such plant</a>. As a member of Rubus genus, it is related to raspberries, <A href=http://www.indepthinfo.com/raspberries/history.htm>believed to have been brought to North America across the Bering Land Bridge.</a> Blackberries and Finland's popular cloudberries also lie is the same Rubus genus.</p>
				<p class="editable">We chose salmonberry not just because we love our local fruit, but also for the scientific questions it allows us to ask. Recently there is an increasing interest in berries, because they are rich in phytonutrients known for their health benefits. Despite such interesting properties, no genetic research has been done on salmonberry unlike raspberry or blackberry. Our research will help connect the evolutionary dots among the berries.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Rubus_spectabilis_1564.JPG/320px-Rubus_spectabilis_1564.JPG" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Why RNA sequencing?</h2>
				<p class="editable">RNA sequencing (RNAseq) lets us look at the transcriptome, which not only allows us to find the salmonberry genes but also shows the genes that are being actively expressed. The transcriptome provides insights into what proteins the cell is making and can be used to compare gene expression between different parts of the same plant and between similar plants. Knowing what proteins are being coded for, and what other gene activity is occurring, can give information about medicinal and nutritional properties of the plant. 
</p>
			</div>
			<div class="image">
				<img class="editable" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Salmonberry_Blossom.jpg/800px-Salmonberry_Blossom.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
<p class="subtext editable"><b>Coding for Life Science is a WA state nonprofit and is a 501(c)(3) tax exempt organization. All money raised goes towards our science projects.</b></p>

<p class="subtext editable"><b>We kicked off with an <A href="https://www.indiegogo.com/projects/salmonberry-genomics-by-high-school-students">Indiegogo fundraiser</a> and were able to raise $920. In addition, we received direct donations. This funding was not enough for to pay for commercial sequencing, but a sequencing donation from <A href=https://www.covance.com/services/clinical-testing/genomics-solutions.html>Covance Genomics (subsidiary of Labcorp)</A> will allow us to complete our project.</b></p>

<p class="subtext editable"><b>In August 2018, we started working with <A href=https://www.uwb.edu/biological-sciences/faculty/biology/tmadzima>Dr. Thelma Madzima</A> at University of Washington Bothell Campus and are grateful for her assistance and expertise.</A></b></p>

<p class="subtext editable"><b>A big thank you to all who have donated funds, time, and access to equipment!</b></p>
			</div>
		</div>
	</section>
</div>
