---
title: Blog
description: Keep up with the latest news.
image:  https://lh3.googleusercontent.com/6DqA0EcoUwuxUJK02UzYfHuAsNSff_l18Xo0VWUGfvoaqClildMR2yzDosuCs0OIlGAS3CHuliLwoHHltRSUAllUZ7D6pfy1BgI-GDRumk4MYFlDvhF0mpqqjzVYhh8uYVTl3-5AWVZ4xkytAn18R9m_qWkNXeJmBSua1o4PKY7V95KnVVVXelxB-6ojOssAfgLWCpAJ3mdOgNoflGkYee2G-kjZvCHpJYDPXWwIMLT9viSPGneaWF6qjjBDYHlIJ8qktFwqjkQFYNaNp2rxsL8rBXovVg5oEvXeJTG2mv5Lbb0-t9NKhUYR7tMuXrC9D558MEIlbOPVt-gVBEhGXzYUY6UwFsdFUGRKi2aQgzA9UlXiamRuiJcQXcISoIm6LkwOdN-W4fb15lulLiW_8RW-x1ir40fyJHM5_uxiN_Ae1iK2eeunn38t2kA-iJTaA4OYm6MifONDUFK_6ikaOgUYGOGDaSPK72NxnnF_XiKAEDU333Poo9rcyGkmXYhJQiQ8j2YLgcYeO0-3r1ekOuisM7ntIJNnacyv2JaTMYoTjw3aAu3h8ghk7opxOdIR6l0HZfHrn8Q_raw85T88IaEJZonAwmAKCdx-P-2MoMh8vxkLTZ-hb3QSicq2bwHKHYHdmuDhCpnJL-NHMNiOItOvEZ2RuDan=w1278-h720-no
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The latest news</h1>
			<p class="subtext editable">Hear the latest progress on Salmonberries and our findings.</p>
		</div>
	</div>
</section>

<section>
	<div class="text-container">
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
		<ul class="blog-posts">
			{% include list-posts.html posts=paginator.posts %}
		</ul>

		{% if paginator.total_pages > 1 %}
			<div class="pagination">
				{% if paginator.previous_page %}
					<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
				{% endif %}

				<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

				{% if paginator.next_page %}
					<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</section>
